<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="main.js"></script>

  <style>
    .footer {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #253748;
      color: white;

    }
span{
  text-align: right;
  color: rgb(247, 243, 243);
  position: fixed;
  right: 1px;
  font-size: x-large;
  background-color: rgb(158, 170, 187);
  border-radius: 2%;
}
    div>p {
      text-align: right
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <img src="../../images/mobilyte_logo.png" style=" height: 40px;"
      alt="logo" class="logo-default">
      <span>Registration confirmation</span>

  </nav>
  <div class="container">


    {{logo}}
    to {{to}}

    subject: {{ subject }}

    body: {{body}}


    <div class="footer">
      <p>Powered by: <a href="www.mobilyte.com">Mobilyte.Inc</a>
      </p>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>

</html>